body {
  background: linear-gradient(
    90deg,
    rgb(236, 195, 11) 0%,
    rgb(176, 34, 241) 100%
  );
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

h1 {
  margin: 20px 40px;
  color: rgb(95, 95, 95);
  font-size: 24px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #efeff0;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(194, 96, 224);
}
.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    35deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(176, 34, 241) 0%,
    rgb(138, 241, 236) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.remove-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    180deg,
    rgb(198, 46, 245) 0%,
    rgb(102, 0, 197) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
